aiofiles==22.1.0
aiohttp==3.7.4.post0
aiohttp-retry==2.8.3
aiosignal==1.2.0    
altair==4.2.2       
ansicon==1.89.0     
anyio==3.6.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
async-timeout==3.0.1
attrs==22.1.0
beautifulsoup4==4.11.1
blinker==1.7.0
bs4==0.0.1
CacheControl==0.14.0
cachetools==5.3.2
certifi==2022.6.15
cffi==1.16.0
characterai==0.8.0
chardet==4.0.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
colorzero==2.0
console==0.9907
contourpy==1.0.7
cryptography==41.0.7
cycler==0.11.0
DateTime==4.5
decorator==4.4.2
deprecation==2.1.0
dhooks==1.1.4
discord.py-self==1.9.2
DiscordUtils==1.3.4
django-commands==0.7
entrypoints==0.4
ezenv==0.92
fastapi==0.89.1
ffmpeg-python==0.2.0
ffmpy==0.3.0
firebase==4.0.1
firebase-admin==6.4.0
Flask==2.3.3
fonttools==4.38.0
frozenlist==1.3.1
fsspec==2023.1.0
future==0.18.2
getmac==0.8.3
google-api-core==2.16.1
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gotrue==2.1.0
gpiozero==1.6.2
gpt==0.2
gradio==3.17.0
grpcio==1.60.1
grpcio-status==1.60.1
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.2
idna==3.3
imageio==2.31.4
imageio-ffmpeg==0.4.7
iso8601==2.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jinxed==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
linkify-it-py==1.0.3
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
moviepy==1.0.3
msgpack==1.0.7
multidict==6.0.2
mysql-connector==2.2.9
mysql-connector-python==8.2.0
numpy==1.23.1
openai==0.26.4
orjson==3.8.5
packaging==23.0
pandas==1.5.3
patreon==0.5.0
Pillow==9.4.0
postgrest==0.13.2
proglog==0.1.10
proto-plus==1.23.0
protobuf==4.21.12
psutil==5.9.1
py-cord>=2.4.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.19.1
pydantic==1.10.4
pydub==0.25.1
pyinput==0.3.2
PyJWT==2.8.0
pynput==1.7.6
pyparsing==3.0.9
pyrsistent==0.19.3
pyserial==3.5
pyseto==1.7.7
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.1
pywin32==306
PyYAML==6.0
random2==1.0.1
realtime==1.0.2
replit==3.5.0
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
scipy==1.10.1
six==1.16.0
smbus2==0.4.2
sniffio==1.3.0
soupsieve==2.3.2.post1
starlette==0.22.0
storage3==0.7.0
StrEnum==0.4.15
supabase==2.3.3
supafunc==0.3.3
termcolor==1.1.0
tls-client==0.2.2
toolz==0.12.0
tqdm==4.64.1
typed-ast==1.5.5
typing_extensions==4.4.0
uc-micro-py==1.0.1
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.20.0
websockets==11.0.3
Werkzeug==3.0.1
yarl==1.8.1
zope.interface==5.4.0
